# Analyse exploratoire de données socioéconomiques

In [ ]:
import pandas as pd

## Population

In [13]:
pop = pd.read_csv('data/pop.csv')

In [14]:
years = [1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 
         1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]

population =pd.DataFrame(pop[ ['country'] + [str(year) for year in years] ])
population[ population.isna().any(axis=1) ]
population = population.fillna(method='ffill')

"""NORMALISER LES DONNEES"""

population.isna().sum()

C:\Users\Julien\AppData\Local\Temp\ipykernel_1232\636828188.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  population = population.fillna(method='ffill')

country    0
1948       0
1952       0
1956       0
1960       0
1964       0
1968       0
1972       0
1976       0
1980       0
1984       0
1988       0
1992       0
1996       0
2000       0
2004       0
2008       0
2012       0
2016       0
2020       0
dtype: int64

In [82]:
import pandas as pd
import os
"""
Fonction pour générer les fichiers par années
"""

def generate_files_by_year(data, path, suffix):

    os.makedirs(path, exist_ok=True)
    
    for year in data.columns[1:]:
        year_data = data[['country', year]] 
        filename = os.path.join(path, f"{year}{suffix}.csv")
        year_data.to_csv(filename, index=False)

generate_files_by_year(population, "./population_by_years", "_population")

In [84]:
import pandas as pd
import glob

"""
Fonction pour générer un array de dataframes à partir des fichiers
"""
def generate_df_from_files(path, suffix):

    if not os.path.exists(path):
        raise ValueError(f"The directory {path} does not exist.")
    
    file_list = glob.glob(os.path.join(path, f"*{suffix}.csv"))
    dataframes = []

    for file in file_list:
        df = pd.read_csv(file)
        dataframes.append(df)

    return dataframes

d = generate_df_from_files("./population_by_years/", "_population")

In [85]:
# afficher les 10 premier pays de chaque année
for i, df in enumerate(d):
    print(f"Data for year {df.columns[1]}:")
    print(df.head(5))

Data for year 1948:
       country   1948
0  Afghanistan  7.53M
1       Angola  4.39M
2      Albania  1.21M
3      Andorra   5800
4          UAE    72k
Data for year 1952:
       country   1952
0  Afghanistan  7.99M
1       Angola  4.65M
2      Albania  1.31M
3      Andorra   5460
4          UAE  84.8k
Data for year 1956:
       country   1956
0  Afghanistan  8.45M
1       Angola   4.9M
2      Albania  1.46M
3      Andorra   6770
4          UAE   107k
Data for year 1960:
       country   1960
0  Afghanistan  9.04M
1       Angola  5.23M
2      Albania  1.65M
3      Andorra   9510
4          UAE   131k
Data for year 1964:
       country   1964
0  Afghanistan  9.81M
1       Angola  5.46M
2      Albania  1.84M
3      Andorra  12.8k
4          UAE   160k
Data for year 1968:
       country   1968
0  Afghanistan  10.8M
1       Angola   5.7M
2      Albania  2.07M
3      Andorra  17.2k
4          UAE   199k
Data for year 1972:
       country   1972
0  Afghanistan  11.9M
1       Angola  6.17M
2      Albania  2.29M
3      Andorra    23k
4          UAE   385k
Data for year 1976:
       country   1976
0  Afghanistan  13.1M
1       Angola  7.07M
2      Albania  2.51M
3      Andorra  29.4k
4          UAE   616k
Data for year 1980:
       country   1980
0  Afghanistan  13.2M
1       Angola  8.13M
2      Albania  2.74M
3      Andorra  35.8k
4          UAE  1.02M
Data for year 1984:
       country   1984
0  Afghanistan  11.2M
1       Angola  9.43M
2      Albania  2.96M
3      Andorra  42.3k
4          UAE  1.31M
Data for year 1988:
       country   1988
0  Afghanistan  11.5M
1       Angola  10.9M
2      Albania  3.21M
3      Andorra  49.4k
4          UAE  1.68M
Data for year 1992:
       country   1992
0  Afghanistan  13.3M
1       Angola  12.4M
2      Albania  3.28M
3      Andorra  60.2k
4          UAE  2.11M
Data for year 1996:
       country   1996
0  Afghanistan  17.8M
1       Angola  14.2M
2      Albania  3.25M
3      Andorra    64k
4          UAE   2.6M
Data for year 2000:
       country   2000
0  Afghanistan  20.1M
1       Angola  16.2M
2      Albania  3.17M
3      Andorra  65.7k
4          UAE  3.49M
Data for year 2004:
       country   2004
0  Afghanistan  23.6M
1       Angola  18.6M
2      Albania   3.1M
3      Andorra  74.3k
4          UAE  4.43M
Data for year 2008:
       country   2008
0  Afghanistan  26.5M
1       Angola  21.6M
2      Albania  2.99M
3      Andorra  83.5k
4          UAE   6.3M
Data for year 2012:
       country   2012
0  Afghanistan  30.6M
1       Angola  25.2M
2      Albania  2.91M
3      Andorra  76.8k
4          UAE   7.5M
Data for year 2016:
       country   2016
0  Afghanistan  34.7M
1       Angola  29.2M
2      Albania   2.9M
3      Andorra  72.2k
4          UAE  9.03M
Data for year 2020:
       country   2020
0  Afghanistan  39.1M
1       Angola  33.5M
2      Albania  2.87M
3      Andorra  77.4k
4          UAE  9.45M

In [77]:
child_mortality = pd.read_csv('./data/child_mortality_0_5_year_olds_dying_per_1000_born.csv')

In [78]:
# prendre les données selon les années des olympiades
years = [1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 
         1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]

child_mortality = pd.DataFrame(child_mortality[['country'] + [str(year) for year in years]])

# imputation par la moyenne
child_mortality.iloc[:, 1:] = child_mortality.iloc[:, 1:].fillna(child_mortality.iloc[:, 1:].mean())


"""NORMALISER LES DONNEES"""

'NORMALISER LES DONNEES'

In [83]:
generate_files_by_year(child_mortality, "./child_mortality_by_years", "_child_mortality")

In [84]:
import pandas as pd
import numpy as np

# Paramètres
countries = ['Country' + str(i) for i in range(10)]
features = ['Feature' + str(i) for i in range(4)]

# Initialiser le tableau de DataFrames
tableau = {}

for year in years:
    # Générer des données aléatoires pour chaque année
    data = np.random.randn(len(countries), len(features))
    df = pd.DataFrame(data, index=countries, columns=features)
    
    # Ajouter le DataFrame au tableau
    tableau[year] = df

# Exemple pour accéder au DataFrame de l'année 2000
print(tableau[2004])

'''
# Pour afficher tous les DataFrames (par exemple)
for year, df in tableau.items():
    print(f"Année : {year}")
    print(df)
'''

          Feature0  Feature1  Feature2  Feature3
Country0 -0.456783 -0.158310 -0.519033  0.958055
Country1 -1.106213  0.681880  0.734147 -0.285163
Country2  0.847917 -1.933442  0.642425  0.379543
Country3 -0.303888 -0.098464  1.492819  1.202145
Country4  0.686658  1.313217 -1.263469  1.694291
Country5  0.061177  1.367556 -0.099236  2.015215
Country6 -0.854198 -0.863839  0.488965  0.279412
Country7 -0.331293  0.178943 -1.055259 -0.893033
Country8  0.120178 -0.506247  0.628622 -0.708093
Country9  1.461635 -0.583224 -0.395589 -1.353590

'\n# Pour afficher tous les DataFrames (par exemple)\nfor year, df in tableau.items():\n    print(f"Année : {year}")\n    print(df)\n'

Option 1:
df_total =
nom year  pop   dem   meteo   
USA 1948   x     x      x
...
AFG 1948   x     x      x
USA 1952   x     x      x
...
AFG 1952   x     x      x

df_1948 =
nom year  pop   dem   meteo   
USA 1948   x     x      x
...
AFG 1948   x     x      x

Option 2:
fichier 1948.csv
nom pop   dem   meteo   
USA  x     x      x
...
AFG  x     x      x

fichier 1952.csv
nom pop   dem   meteo   
USA  x     x      x
...
AFG  x     x      x

## Démocratie

In [52]:
democratie = pd.read_csv("data/democratie.csv", sep=";")
democratie

           country  year  polity  polity2
0      Afghanistan  1800      -6     -6.0
1      Afghanistan  1801      -6     -6.0
2      Afghanistan  1802      -6     -6.0
3      Afghanistan  1803      -6     -6.0
4      Afghanistan  1804      -6     -6.0
...            ...   ...     ...      ...
17569     Zimbabwe  2014       4      4.0
17570     Zimbabwe  2015       4      4.0
17571     Zimbabwe  2016       4      4.0
17572     Zimbabwe  2017       4      4.0
17573     Zimbabwe  2018       4      4.0

[17574 rows x 4 columns]

In [6]:
# Valeurs manquantes
print(democratie.isna().sum().sum())

267

In [132]:
 
# democratie[democratie['polity'] < -10]
dem = democratie[democratie['year'] >= 1948]

dem.head(100)


#      print(democratie_tronquee.iloc[i, 0], democratie_tronquee.iloc[i, 1], democratie_tronquee.iloc[i, 2])--

# dem.append({'year': democratie.iloc[i, 0], 'polity': democratie.iloc[i, 1], 'polity2': democratie.iloc[i, 2]}, ignore_index=True)
#print(democratie.iloc[i, 0], democratie.iloc[i, 1], democratie.iloc[i, 2])

         country  year  polity  polity2
148  Afghanistan  1948     -10    -10.0
149  Afghanistan  1949     -10    -10.0
150  Afghanistan  1950     -10    -10.0
151  Afghanistan  1951     -10    -10.0
152  Afghanistan  1952     -10    -10.0
153  Afghanistan  1953     -10    -10.0
154  Afghanistan  1954     -10    -10.0
155  Afghanistan  1955     -10    -10.0
156  Afghanistan  1956     -10    -10.0
157  Afghanistan  1957     -10    -10.0
158  Afghanistan  1958     -10    -10.0
159  Afghanistan  1959     -10    -10.0
160  Afghanistan  1960     -10    -10.0
161  Afghanistan  1961     -10    -10.0
162  Afghanistan  1962     -10    -10.0
163  Afghanistan  1963     -10    -10.0
164  Afghanistan  1964      -7     -7.0
165  Afghanistan  1965      -7     -7.0
166  Afghanistan  1966      -7     -7.0
167  Afghanistan  1967      -7     -7.0
168  Afghanistan  1968      -7     -7.0
169  Afghanistan  1969      -7     -7.0
170  Afghanistan  1970      -7     -7.0
171  Afghanistan  1971      -7     -7.0
172  Afghanistan  1972      -7     -7.0
173  Afghanistan  1973      -7     -7.0
174  Afghanistan  1974      -7     -7.0
175  Afghanistan  1975      -7     -7.0
176  Afghanistan  1976      -7     -7.0
177  Afghanistan  1977      -7     -7.0
178  Afghanistan  1978     -77      0.0
179  Afghanistan  1979     -66      NaN
180  Afghanistan  1980     -66      NaN
181  Afghanistan  1981     -66      NaN
182  Afghanistan  1982     -66      NaN
183  Afghanistan  1983     -66      NaN
184  Afghanistan  1984     -66      NaN
185  Afghanistan  1985     -66      NaN
186  Afghanistan  1986     -66      NaN
187  Afghanistan  1987     -66      NaN
188  Afghanistan  1988     -66      NaN
189  Afghanistan  1989      -8     -8.0
190  Afghanistan  1990      -8     -8.0
191  Afghanistan  1991      -8     -8.0
192  Afghanistan  1992     -77      0.0
193  Afghanistan  1993     -77      0.0
194  Afghanistan  1994     -77      0.0
195  Afghanistan  1995     -77      0.0
196  Afghanistan  1996      -7     -7.0
197  Afghanistan  1997      -7     -7.0
198  Afghanistan  1998      -7     -7.0
199  Afghanistan  1999      -7     -7.0
200  Afghanistan  2000      -7     -7.0
201  Afghanistan  2001     -66      NaN
202  Afghanistan  2002     -66      NaN
203  Afghanistan  2003     -66      NaN
204  Afghanistan  2004     -66      NaN
205  Afghanistan  2005     -66      NaN
206  Afghanistan  2006     -66      NaN
207  Afghanistan  2007     -66      NaN
208  Afghanistan  2008     -66      NaN
209  Afghanistan  2009     -66      NaN
210  Afghanistan  2010     -66      NaN
211  Afghanistan  2011     -66      NaN
212  Afghanistan  2012     -66      NaN
213  Afghanistan  2013     -66      NaN
214  Afghanistan  2014      -1     -1.0
215  Afghanistan  2015      -1     -1.0
216  Afghanistan  2016      -1     -1.0
217  Afghanistan  2017      -1     -1.0
218  Afghanistan  2018      -1     -1.0
253      Albania  1948      -9     -9.0
254      Albania  1949      -9     -9.0
255      Albania  1950      -9     -9.0
256      Albania  1951      -9     -9.0
257      Albania  1952      -9     -9.0
258      Albania  1953      -9     -9.0
259      Albania  1954      -9     -9.0
260      Albania  1955      -9     -9.0
261      Albania  1956      -9     -9.0
262      Albania  1957      -9     -9.0
263      Albania  1958      -9     -9.0
264      Albania  1959      -9     -9.0
265      Albania  1960      -9     -9.0
266      Albania  1961      -9     -9.0
267      Albania  1962      -9     -9.0
268      Albania  1963      -9     -9.0
269      Albania  1964      -9     -9.0
270      Albania  1965      -9     -9.0
271      Albania  1966      -9     -9.0
272      Albania  1967      -9     -9.0
273      Albania  1968      -9     -9.0
274      Albania  1969      -9     -9.0
275      Albania  1970      -9     -9.0
276      Albania  1971      -9     -9.0
277      Albania  1972      -9     -9.0
278      Albania  1973      -9     -9.0
279      Albania  1974      -9     -9.0
280      Albania  1975      -9     -9.0
281      Albania  1976      -9     -9.0

In [ ]:
pays_dem = dem['country'].unique()
id = 0

# Afficher le i-ème pays et ses données
pays = pays_dem[id]
# print(pays)
# print(dem[dem['country'] == pays])

indices = pays_dem[pays_dem['polity1'] < 10].tolist()

# Assigner à polity2 la valeur juste avant que polity1 devienne < 10
for index in indices:
    if index > 0:
        pays_dem.at[index, 'polity2'] = pays_dem.at[index-1, 'polity2']

print(pays_dem)

In [ ]:
democratie['polity'] = democratie['polity'].fillna(method='ffill')

## Espérance de vie

In [24]:
esperanceVie =pd.read_csv("data/lex.csv")
esperanceVie.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,...,75.9,76.1,76.2,76.4,76.5,76.7,76.8,77.0,77.1,77.3
1,Angola,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,...,75.8,75.9,76.0,76.1,76.3,76.4,76.5,76.7,76.8,76.9
2,Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,88.9,89.0,89.2,89.3,89.4,89.5,89.6,89.7,89.8,90.0
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.0,91.1,91.3,91.4,91.5,91.6,91.7,91.8,91.9,92.0
4,UAE,30.7,30.7,30.7,30.7,30.7,30.7,30.7,30.7,30.7,...,83.7,83.8,83.9,84.0,84.1,84.2,84.3,84.5,84.6,84.7

In [25]:
esperanceVie = esperanceVie.iloc[:, [0] + list(range(149, 224))] # 149, 149
esperanceVie.head()

,country,1948,1949,1950,1951,1952,1953,1954,1955,1956,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,42.4,42.5,42.7,42.9,43.1,43.5,43.3,43.9,44.1,...,61.9,61.9,61.9,62.0,62.9,62.7,63.3,62.3,61.8,62.6
1,Angola,44.2,44.9,45.6,45.6,45.6,45.6,45.6,45.5,45.7,...,62.1,63.0,63.5,63.9,64.2,64.6,65.1,64.9,64.2,64.5
2,Albania,50.5,51.4,52.2,53.6,54.5,55.4,56.1,56.3,58.0,...,78.3,78.2,78.1,78.2,78.3,78.4,78.5,76.2,75.7,76.1
3,Andorra,NaN,NaN,74.6,74.7,74.8,75.0,75.1,75.2,75.3,...,82.0,82.0,82.0,82.1,82.1,82.1,82.2,78.3,79.6,82.7
4,UAE,52.1,55.3,58.4,58.5,58.6,58.7,58.8,58.9,58.8,...,71.6,73.0,73.2,73.4,73.5,73.7,73.9,73.2,73.0,73.4

In [26]:
# Valeurs manquantes
print(esperanceVie.isna().sum().sum())

20

In [45]:
# Afficher les lignes avec des valeurs manquantes
esperanceVie.isna().sum().where(lambda x : x > 0).dropna()

1948    10.0
1949    10.0
dtype: float64

In [104]:
esperanceVie[esperanceVie['1948'].isna()]

,country,1948,1949,1950,1951,1952,1953,1954,1955,1956,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
3,Andorra,NaN,NaN,74.6,74.7,74.8,75.0,75.1,75.2,75.3,...,82.0,82.0,82.0,82.1,82.1,82.1,82.2,78.3,79.6,82.7
46,Dominica,NaN,NaN,49.3,50.6,51.7,53.0,54.1,55.1,56.1,...,72.3,72.2,71.5,72.3,71.2,72.3,72.3,72.4,71.6,71.8
93,St. Kitts and Nevis,NaN,NaN,60.8,61.9,62.4,62.7,62.7,62.2,61.5,...,72.2,72.1,72.0,72.1,72.1,72.1,72.1,72.2,72.2,72.6
101,Liechtenstein,NaN,NaN,62.3,62.0,57.2,55.8,54.1,60.3,57.3,...,82.4,82.2,82.8,82.4,83.9,83.2,84.3,0.0,0.0,0.0
108,Monaco,NaN,NaN,68.2,68.1,68.3,68.7,69.0,69.3,69.7,...,79.3,79.4,79.5,79.7,79.8,79.9,80.1,80.1,79.5,80.4
113,Marshall Islands,NaN,NaN,52.1,52.6,53.0,53.4,53.9,54.3,54.7,...,64.6,64.8,64.9,65.1,65.2,65.3,65.5,65.7,66.0,65.9
132,Nauru,NaN,NaN,58.5,58.7,59.0,59.2,59.4,59.6,59.9,...,61.4,61.9,62.3,62.6,63.0,63.2,63.4,63.3,63.5,63.9
139,Palau,NaN,NaN,49.0,49.5,49.9,50.4,50.9,51.4,51.9,...,67.0,67.1,67.2,67.3,67.4,67.4,67.5,68.1,68.8,68.1
157,San Marino,NaN,NaN,72.0,72.1,72.2,72.3,72.4,72.5,72.5,...,82.0,82.0,82.0,82.0,82.0,82.1,82.2,78.8,80.1,82.6
179,Tuvalu,NaN,NaN,47.0,47.3,47.8,48.2,48.7,49.1,49.6,...,67.0,67.2,67.4,67.5,67.7,67.8,67.9,68.0,68.2,68.5

In [ ]:
esperanceVie.loc[3, '1948'] = 74.4
esperanceVie.loc[3, '1949'] = 74.5

esperanceVie.loc[46, '1948'] = 74.4
esperanceVie.loc[46, '1949'] = 74.5

esperanceVie.loc[93, '1948'] = 74.4
esperanceVie.loc[93, '1949'] = 74.5

esperanceVie.loc[101, '1948'] = 74.4
esperanceVie.loc[101, '1949'] = 74.5

esperanceVie.loc[108, '1948'] = 74.4
esperanceVie.loc[108, '1949'] = 74.5

esperanceVie.loc[113, '1948'] = 74.4
esperanceVie.loc[113, '1949'] = 74.5

esperanceVie.loc[132, '1948'] = 74.4
esperanceVie.loc[132, '1949'] = 74.5

## Aged 25 to 54 unemployment rate