In [122]:
import pandas as pd

df = pd.read_csv('archive_raw/olympic_results.csv')

In [123]:
unique_countries = pd.DataFrame(data=sorted(df['country_name'].unique()), columns=['country_name'])

# Save the DataFrame to a CSV file
unique_countries.to_csv('archive_raw/country_names.csv', index=False)

In [124]:
df['slug_game'].unique()

array(['beijing-2022', 'tokyo-2020', 'pyeongchang-2018', 'rio-2016',
       'sochi-2014', 'london-2012', 'vancouver-2010', 'beijing-2008',
       'turin-2006', 'athens-2004', 'salt-lake-city-2002', 'sydney-2000',
       'nagano-1998', 'atlanta-1996', 'lillehammer-1994',
       'barcelona-1992', 'albertville-1992', 'seoul-1988', 'calgary-1988',
       'los-angeles-1984', 'sarajevo-1984', 'moscow-1980',
       'lake-placid-1980', 'montreal-1976', 'innsbruck-1976',
       'munich-1972', 'sapporo-1972', 'mexico-city-1968', 'grenoble-1968',
       'tokyo-1964', 'innsbruck-1964', 'rome-1960', 'squaw-valley-1960',
       'melbourne-1956', 'cortina-d-ampezzo-1956', 'helsinki-1952',
       'oslo-1952', 'london-1948', 'st-moritz-1948', 'berlin-1936',
       'garmisch-partenkirchen-1936', 'los-angeles-1932',
       'lake-placid-1932', 'amsterdam-1928', 'st-moritz-1928',
       'paris-1924', 'chamonix-1924', 'antwerp-1920', 'stockholm-1912',
       'london-1908', 'st-louis-1904', 'paris-1900', 'athens-1896'],
      dtype=object)

In [125]:
# éditions d'été de 1948 à 2020
game_slugs = [
    'tokyo-2020',  'rio-2016',
    'london-2012', 'beijing-2008',
    'athens-2004', 'sydney-2000', 'atlanta-1996',
    'barcelona-1992', 'seoul-1988',
    'los-angeles-1984',  'moscow-1980', 'montreal-1976',
    'munich-1972', 'mexico-city-1968',
    'tokyo-1964', 'rome-1960',
    'melbourne-1956', 'helsinki-1952','london-1948'
]

df = df[df['slug_game'].apply(lambda x: x in game_slugs)]

df['slug_game'].unique()

array(['tokyo-2020', 'rio-2016', 'london-2012', 'beijing-2008',
       'athens-2004', 'sydney-2000', 'atlanta-1996', 'barcelona-1992',
       'seoul-1988', 'los-angeles-1984', 'moscow-1980', 'montreal-1976',
       'munich-1972', 'mexico-city-1968', 'tokyo-1964', 'rome-1960',
       'melbourne-1956', 'helsinki-1952', 'london-1948'], dtype=object)

In [126]:
# sports continus de 1948 à 1988
sports_summer_before = ['Shooting', 'Diving', 'Canoe Sprint', 'Cycling Road', 'Football',
                 'Boxing', 'Basketball', 'Cycling Track', 'Fencing',
                 'Water Polo', 'Wrestling', 'Artistic Gymnastics',
                 'Weightlifting', 'Modern Pentathlon', 'Hockey'
                 'Athletics', 'Swimming', 'Sailing', 'Rowing']

# éditions de 1948 à 1988
editions_to_1988 = ['seoul-1988',
    'los-angeles-1984',  'moscow-1980', 'montreal-1976',
    'munich-1972', 'mexico-city-1968',
    'tokyo-1964', 'rome-1960',
    'melbourne-1956', 'helsinki-1952','london-1948'
]


df_summer_before_1988 = df[df['discipline_title'].apply(lambda x: x in sports_summer_before)]
df_summer_before_1988 = df_summer_before_1988[df_summer_before_1988['slug_game'].apply(lambda x: x in editions_to_1988)]

In [127]:
# sports continus de 1992 à 2020
sports_summer_after = ['Shooting', 'Diving', 'Canoe Sprint', 'Cycling Road', 'Football',
                 'Boxing', 'Basketball', 'Cycling Track', 'Fencing', 'Table Tennis', 'Badminton',
                 'Water Polo', 'Wrestling', 'Artistic Gymnastics', 'Canoe Slalom', 'Rhythmic Gymnastics',
                 'Weightlifting', 'Modern Pentathlon', 'Hockey', 'Volleyball', 'Artistic Swimming', 
                 'Athletics', 'Swimming', 'Sailing', 'Rowing', 'Tennis', 'Equestrian', 'Archery', 'Handball', 'Judo']

# éditions de 1992 à 2020
editions_after_1988 = ['tokyo-2020',  'rio-2016',
    'london-2012', 'beijing-2008',
    'athens-2004', 'sydney-2000', 'atlanta-1996',
    'barcelona-1992']


df_summer_after_1988 = df[df['discipline_title'].apply(lambda x: x in sports_summer_after)]
df_summer_after_1988 = df_summer_after_1988[df_summer_after_1988['slug_game'].apply(lambda x: x in editions_after_1988)]

In [128]:
def extract_10_first(df):
    df['rank_position'] = pd.to_numeric(df['rank_position'], errors='coerce')
    df_cl = df.dropna(subset=['rank_position'])
    df_cl['rank_position'] = df_cl['rank_position'].astype(int)
    df_cl = df_cl[df_cl['rank_position'] <= 10]
    return df_cl



filtered_df = extract_10_first(df_summer_after_1988)
df_after = filtered_df.groupby(by=['country_name', 'slug_game']).count()



filtered_df_before = extract_10_first(df_summer_before_1988)
df_before = filtered_df_before.groupby(by=['country_name', 'slug_game']).count()

C:\Users\Julien\AppData\Local\Temp\ipykernel_13652\3581285298.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cl['rank_position'] = df_cl['rank_position'].astype(int)
C:\Users\Julien\AppData\Local\Temp\ipykernel_13652\3581285298.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cl['rank_position'] = df_cl['rank_position'].astype(int)

In [129]:
df_clean_after = df_after['rank_position']
df_clean_after.to_csv('data_rank_after.csv')


df_clean_before = df_before['rank_position']
df_clean_before.to_csv('data_rank_before.csv')

In [130]:
#df_summer_after_1988[ (df_summer_after_1988['country_name'] == 'Algeria') & (df_summer_after_1988['slug_game'] == 'athens-2004')
#                    & (df_summer_after_1988['rank_position'] <= 10)]

In [131]:
data = pd.read_csv('data_rank_after.csv')
df = pd.DataFrame(data)

df['year'] = df['slug_game'].str.extract(r'(\d{4})')

df_pivot = df.pivot_table(index='country_name', columns='year', values='rank_position', aggfunc='first')

df_pivot.reset_index(inplace=True)
df_pivot.fillna(0, inplace=True)

df_pivot = df_pivot.transpose()

df_pivot = df_pivot.iloc[0:].reset_index(drop=True)

df_pivot.columns = df_pivot.iloc[0]
df_pivot = df_pivot.drop(0).reset_index(drop=True)

df_pivot.to_csv('second_part.csv')

In [132]:
data = pd.read_csv('data_rank_before.csv')
df = pd.DataFrame(data)

df['year'] = df['slug_game'].str.extract(r'(\d{4})')

df_pivot = df.pivot_table(index='country_name', columns='year', values='rank_position', aggfunc='first')

df_pivot.reset_index(inplace=True)
df_pivot.fillna(0, inplace=True)

df_pivot = df_pivot.transpose()


df_pivot = df_pivot.iloc[0:].reset_index(drop=True)

df_pivot.columns = df_pivot.iloc[0]
df_pivot = df_pivot.drop(0).reset_index(drop=True)


df_pivot.to_csv('first_part.csv')

In [ ]:
first_part = pd.read_csv('first_part.csv')
second_part = pd.read_csv('second_part.csv')

years = [1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 
         1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]

second_part.rename(columns={'Unnamed: 0': 'year'}, inplace=True)
second_part['year'] = years[11:]
second_part.set_index('year', inplace=True)

first_part.rename(columns={'Unnamed: 0': 'year'}, inplace=True)
first_part['year'] = years[:11]
first_part.set_index('year', inplace=True)

#supprimer les csv 
import os
os.remove('first_part.csv')
os.remove('second_part.csv')
os.remove('data_rank_after.csv')
os.remove('data_rank_before.csv')

second_part.to_csv('second_part.csv')
first_part.to_csv('first_part.csv')

In [134]:
# expot list of countries 
country_list = first_part.columns[1:].tolist() + second_part.columns[1:].tolist()
country_list = list(set(country_list))
country_list.sort()
with open('country_list.txt', 'w') as f:
    for country in country_list:
        f.write(f"{country}\n")