In [2]:
import pandas as pd
import numpy as np

climate = pd.read_csv('./climate/climate_in_continuous.csv')

In [3]:
climate

,Unnamed: 0,country,Avg_Temperature,Avg_Precipitation,Avg_Seasonality,Avg_Aridity
0,0,Afghanistan,0.446154,0.407692,0.338462,0.492308
1,1,Albania,0.550000,0.600000,0.475000,0.450000
2,2,Algeria,0.500000,0.360000,0.240000,0.640000
3,3,Angola,0.516667,0.483333,0.333333,0.500000
4,4,Antarctica,0.100000,0.100000,0.100000,0.100000
...,...,...,...,...,...,...
171,171,W. Sahara,0.600000,0.200000,0.100000,0.800000
172,172,Yemen,0.450000,0.250000,0.175000,0.700000
173,173,Zambia,0.500000,0.650000,0.450000,0.325000
174,174,Zimbabwe,0.520000,0.560000,0.380000,0.420000
175,175,eSwatini,0.500000,0.650000,0.450000,0.325000