In [61]:
import pandas as pd

df = pd.read_csv('archive/olympic_results.csv')

In [62]:
df['slug_game'].unique()

array(['beijing-2022', 'tokyo-2020', 'pyeongchang-2018', 'rio-2016',
       'sochi-2014', 'london-2012', 'vancouver-2010', 'beijing-2008',
       'turin-2006', 'athens-2004', 'salt-lake-city-2002', 'sydney-2000',
       'nagano-1998', 'atlanta-1996', 'lillehammer-1994',
       'barcelona-1992', 'albertville-1992', 'seoul-1988', 'calgary-1988',
       'los-angeles-1984', 'sarajevo-1984', 'moscow-1980',
       'lake-placid-1980', 'montreal-1976', 'innsbruck-1976',
       'munich-1972', 'sapporo-1972', 'mexico-city-1968', 'grenoble-1968',
       'tokyo-1964', 'innsbruck-1964', 'rome-1960', 'squaw-valley-1960',
       'melbourne-1956', 'cortina-d-ampezzo-1956', 'helsinki-1952',
       'oslo-1952', 'london-1948', 'st-moritz-1948', 'berlin-1936',
       'garmisch-partenkirchen-1936', 'los-angeles-1932',
       'lake-placid-1932', 'amsterdam-1928', 'st-moritz-1928',
       'paris-1924', 'chamonix-1924', 'antwerp-1920', 'stockholm-1912',
       'london-1908', 'st-louis-1904', 'paris-1900', 'athens-1896'],
      dtype=object)

In [63]:
# éditions d'été de 1948 à 2020
game_slugs = [
    'tokyo-2020',  'rio-2016',
    'london-2012', 'beijing-2008',
    'athens-2004', 'sydney-2000', 'atlanta-1996',
    'barcelona-1992', 'seoul-1988',
    'los-angeles-1984',  'moscow-1980', 'montreal-1976',
    'munich-1972', 'mexico-city-1968',
    'tokyo-1964', 'rome-1960',
    'melbourne-1956', 'helsinki-1952','london-1948'
]

df = df[df['slug_game'].apply(lambda x: x in game_slugs)]

df['slug_game'].unique()

array(['tokyo-2020', 'rio-2016', 'london-2012', 'beijing-2008',
       'athens-2004', 'sydney-2000', 'atlanta-1996', 'barcelona-1992',
       'seoul-1988', 'los-angeles-1984', 'moscow-1980', 'montreal-1976',
       'munich-1972', 'mexico-city-1968', 'tokyo-1964', 'rome-1960',
       'melbourne-1956', 'helsinki-1952', 'london-1948'], dtype=object)

In [65]:
# sports continus de 1948 à 1988
sports_summer_before = ['Shooting', 'Diving', 'Canoe Sprint', 'Cycling Road', 'Football',
                 'Boxing', 'Basketball', 'Cycling Track', 'Fencing',
                 'Water Polo', 'Wrestling', 'Artistic Gymnastics',
                 'Weightlifting', 'Modern Pentathlon', 'Hockey'
                 'Athletics', 'Swimming', 'Sailing', 'Rowing']

# éditions de 1948 à 1988
editions_to_1988 = ['seoul-1988',
    'los-angeles-1984',  'moscow-1980', 'montreal-1976',
    'munich-1972', 'mexico-city-1968',
    'tokyo-1964', 'rome-1960',
    'melbourne-1956', 'helsinki-1952','london-1948'
]


df_summer_before_1988 = df[df['discipline_title'].apply(lambda x: x in sports_summer_before)]
df_summer_before_1988 = df_summer_before_1988[df_summer_before_1988['slug_game'].apply(lambda x: x in editions_to_1988)]

df_summer_before_1988.shape

array(['Fencing', 'Canoe Sprint', 'Rowing', 'Basketball', 'Football',
       'Cycling Road', 'Modern Pentathlon', 'Cycling Track',
       'Weightlifting', 'Boxing', 'Diving', 'Swimming', 'Sailing',
       'Shooting', 'Wrestling', 'Water Polo'], dtype=object)

In [66]:
# sports continus de 1992 à 2020
sports_summer_after = ['Shooting', 'Diving', 'Canoe Sprint', 'Cycling Road', 'Football',
                 'Boxing', 'Basketball', 'Cycling Track', 'Fencing', 'Table Tennis', 'Badminton',
                 'Water Polo', 'Wrestling', 'Artistic Gymnastics', 'Canoe Slalom', 'Rhythmic Gymnastics',
                 'Weightlifting', 'Modern Pentathlon', 'Hockey', 'Volleyball', 'Artistic Swimming', 
                 'Athletics', 'Swimming', 'Sailing', 'Rowing', 'Tennis', 'Equestrian', 'Archery', 'Handball', 'Judo']

# éditions de 1992 à 2020
editions_after_1988 = ['tokyo-2020',  'rio-2016',
    'london-2012', 'beijing-2008',
    'athens-2004', 'sydney-2000', 'atlanta-1996',
    'barcelona-1992']


df_summer_after_1988 = df[df['discipline_title'].apply(lambda x: x in sports_summer_after)]
df_summer_after_1988 = df_summer_after_1988[df_summer_after_1988['slug_game'].apply(lambda x: x in editions_after_1988)]

array(['Shooting', 'Diving', 'Canoe Sprint', 'Cycling Road', 'Football',
       'Boxing', 'Artistic Swimming', 'Handball', 'Table Tennis',
       'Canoe Slalom', 'Volleyball', 'Basketball', 'Cycling Track',
       'Fencing', 'Badminton', 'Water Polo', 'Wrestling', 'Tennis',
       'Artistic Gymnastics', 'Judo', 'Archery', 'Weightlifting',
       'Equestrian', 'Modern Pentathlon', 'Athletics', 'Swimming',
       'Sailing', 'Rowing', 'Rhythmic Gymnastics', 'Hockey'], dtype=object)

In [103]:
def extract_10_first(df):
    df_summer_after_1988['rank_position'] = pd.to_numeric(df_summer_after_1988['rank_position'], errors='coerce')
    df_summer_after_1988_cleaned = df_summer_after_1988.dropna(subset=['rank_position'])
    df_summer_after_1988_cleaned['rank_position'] = df_summer_after_1988_cleaned['rank_position'].astype(int)
    filtered_df = df_summer_after_1988_cleaned[df_summer_after_1988_cleaned['rank_position'] <= 10]
    return filtered_df

filtered_df = extract_10_first(df_summer_after_1988)
f = filtered_df.groupby(by=['discipline_title', 'country_name', 'slug_game']).count()

C:\Users\Julien\AppData\Local\Temp\ipykernel_10160\3522287582.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_summer_after_1988_cleaned['rank_position'] = df_summer_after_1988_cleaned['rank_position'].astype(int)

In [112]:
df_summer_after_1988[ (df_summer_after_1988['country_name'] == 'Australia') & (df_summer_after_1988['discipline_title'] == 'Archery')  & (df_summer_after_1988['slug_game'] == 'athens-2004')]
# vérifier le nombre d'athlètes classés <= 10 premiers donne 2

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
51133,Archery,team FITA Olympic round 70m men,athens-2004,GameTeam,NaN,NaN,NaN,6.0,Australia,AU,AUS,NaN,NaN,NaN,NaN
51143,Archery,Individual competition men,athens-2004,Athlete,BRONZE,NaN,NaN,3.0,Australia,AU,AUS,https://olympics.com/en/athletes/tim-cuddihy,Tim CUDDIHY,NaN,NaN
51176,Archery,Individual competition men,athens-2004,Athlete,NaN,NaN,NaN,36.0,Australia,AU,AUS,https://olympics.com/en/athletes/david-barnes,David BARNES,NaN,NaN
51190,Archery,Individual competition men,athens-2004,Athlete,NaN,NaN,NaN,50.0,Australia,AU,AUS,https://olympics.com/en/athletes/simon-fairwea...,Simon FAIRWEATHER,NaN,NaN
51223,Archery,individual FITA Olympic round 70m women,athens-2004,Athlete,NaN,NaN,NaN,19.0,Australia,AU,AUS,https://olympics.com/en/athletes/melissa-jennison,Melissa JENNISON,NaN,NaN
51245,Archery,individual FITA Olympic round 70m women,athens-2004,Athlete,NaN,NaN,NaN,41.0,Australia,AU,AUS,https://olympics.com/en/athletes/deonne-bridger,Deonne BRIDGER,NaN,NaN
51266,Archery,individual FITA Olympic round 70m women,athens-2004,Athlete,NaN,NaN,NaN,62.0,Australia,AU,AUS,https://olympics.com/en/athletes/jo-ann-galbraith,Jo-Ann GALBRAITH,NaN,NaN
51279,Archery,team FITA Olympic round 70m women,athens-2004,GameTeam,NaN,NaN,NaN,11.0,Australia,AU,AUS,NaN,NaN,NaN,NaN

In [107]:
f
# on obtient bien 2 athlètes classés dans les 10 premiers en count() avec Archery	Australia athens-2004

                                              event_title  participant_type  \
discipline_title country_name slug_game
Archery          Australia    athens-2004               2                 2
                              atlanta-1996              1                 1
                              barcelona-1992            1                 1
                              beijing-2008              1                 1
                              london-2012               1                 1
...                                                   ...               ...
Wrestling        Uzbekistan   rio-2016                  5                 5
                              sydney-2000               7                 7
                              tokyo-2020                5                 5
                 Venezuela    rio-2016                  2                 2
                 Vietnam      london-2012               1                 1

                                              medal_type  athletes  \
discipline_title country_name slug_game
Archery          Australia    athens-2004              1         0
                              atlanta-1996             0         0
                              barcelona-1992           0         0
                              beijing-2008             0         0
                              london-2012              0         0
...                                                  ...       ...
Wrestling        Uzbekistan   rio-2016                 3         0
                              sydney-2000              1         0
                              tokyo-2020               1         0
                 Venezuela    rio-2016                 0         0
                 Vietnam      london-2012              0         0

                                              rank_equal  rank_position  \
discipline_title country_name slug_game
Archery          Australia    athens-2004              0              2
                              atlanta-1996             0              1
                              barcelona-1992           0              1
                              beijing-2008             0              1
                              london-2012              1              1
...                                                  ...            ...
Wrestling        Uzbekistan   rio-2016                 4              5
                              sydney-2000              0              7
                              tokyo-2020               5              5
                 Venezuela    rio-2016                 2              2
                 Vietnam      london-2012              0              1

                                              country_code  \
discipline_title country_name slug_game
Archery          Australia    athens-2004                2
                              atlanta-1996               1
                              barcelona-1992             1
                              beijing-2008               1
                              london-2012                1
...                                                    ...
Wrestling        Uzbekistan   rio-2016                   5
                              sydney-2000                7
                              tokyo-2020                 5
                 Venezuela    rio-2016                   2
                 Vietnam      london-2012                1

                                              country_3_letter_code  \
discipline_title country_name slug_game
Archery          Australia    athens-2004                         2
                              atlanta-1996                        1
                              barcelona-1992                      1
                              beijing-2008                        1
                              london-2012                         1
...                                                             ...
Wrestling        Uzbekistan   rio-2016                            5
                              sydney-2000                         7
                              tokyo-2020                          5
                 Venezuela    rio-2016                            2
                 Vietnam      london-2012                         1

                                              athlete_url  athlete_full_name  \
discipline_title country_name slug_game
Archery          Australia    athens-2004               1                  1
                              atlanta-1996              0                  0
                              barcelona-1992            0                  0
                              beijing-2008              0                  0
                              london-2012               1                  1
...                                                   ...                ...
Wrestling        Uzbekistan   rio-2016                  5                  5
                              sydney-2000               6                  7
                              tokyo-2020                5                  5
                 Venezuela    rio-2016                  2                  2
                 Vietnam      london-2012               1                  1

                                              value_unit  value_type
discipline_title country_name slug_game
Archery          Australia    athens-2004              0           0
                              atlanta-1996             0           0
                              barcelona-1992           0           0
                              beijing-2008             0           0
                              london-2012              0           0
...                                                  ...         ...
Wrestling        Uzbekistan   rio-2016                 0           0
                              sydney-2000              0           0
                              tokyo-2020               1           1
                 Venezuela    rio-2016                 0           0
                 Vietnam      london-2012              0           0

[5893 rows x 12 columns]

In [ ]:
#df_summer_after_1988[(df_summer_after_1988['discipline_title'] == 'Shooting') & (df_summer_after_1988['slug_game'] == 'tokyo-2020')].sort_values(by = 'rank_position')
# df_summer_after_1988[df_summer_after_1988['discipline_title'] == 'Shooting'].sort_values(by = 'rank_position')

no_string = ['nan', 'DSQ', 'DQB', 'DNF']

# Filtrer le DataFrame
df_filtered = df_summer_after_1988[~df_summer_after_1988['column'].isin(no_string)]

# Optionnel : Si vous souhaitez également retirer les valeurs NaN
df_filtered = df_filtered.replace('nan', np.nan).dropna(subset=['column'])

In [ ]:
df_summer_after_1988['rank_position'] = df_summer_after_1988['rank_position'].astype('int')

df_top_10_tokyo = df_summer_after_1988[(df_summer_after_1988['slug_game'] == 'tokyo-2020') & (df_summer_after_1988['rank_position'] <= 10)]

# Trouver toutes les valeurs uniques de 'event_title' pour chaque 'discipline_title'
unique_events_per_discipline = df_tokyo_2020.groupby('discipline_title')['event_title'].unique().reset_index()

# Afficher le résultat
print(unique_events_per_discipline)